@import url("https://fonts.googleapis.com/css2?family=Suravaram&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Denk+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Swanky+and+Moo+Moo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");
* {
  padding: unset;
  margin: unset;
  cursor: url("../assets/global/Polygon.cur") 4 8, auto; }

a {
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer; }

:root {
  --themaAbsoluteDark: #4d5a83;
  --themaUltraDark: #6B7EB7;
  --themaDarkest: #7C8FC7;
  --themaDark: #a8baf2;
  --themaMedium: #dae4ff;
  --themaLight: #E8F4FF;
  --themaLightest: #F9FCFF;
  --themaTransp: #7690dd84; }

@keyframes fadeInOut {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes backgroundTranslate {
  from {
    background-position: 100% 0%; }
  to {
    background-position: 0% 100%; } }
@keyframes essaiRotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-45deg); } }
@keyframes rotationSphere2 {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
@keyframes rotationSphere {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes superClasse {
  from {
    transform: rotate3d(0, 1, 0, 180deg); }
  to {
    transform: rotate3d(0, 1, 0, 0deg); } }
@keyframes flipBack {
  from {
    transform: rotate3d(0, 1, 0, 180deg); }
  to {
    transform: rotate3d(0, 1, 0, 0deg); } }
.cadreConteneur {
  border-radius: 0px 0px 4px 4px;
  box-sizing: border-box;
  flex: auto;
  height: 100%;
  flex-direction: column-reverse;
  display: flex;
  margin: auto 4px;
  background-blend-mode: hard-light; }

.divContenu {
  flex-direction: column;
  text-align: center;
  height: 6vh;
  display: flex;
  margin-top: 8px;
  border-radius: 0px 0px 4px 4px; }

.cadreContent {
  display: flex;
  box-sizing: border-box;
  flex: auto; }

.paraLegend {
  font-family: "Denk One",cursive;
  letter-spacing: 0.06rem; }

.paraLegend, .tousDroits {
  margin: auto;
  width: 100%;
  font-size: 0.92rem;
  color: white; }

.tousDroits {
  letter-spacing: 0.1rem;
  font-family: "Lato",sans-serif;
  font-size: 0.76rem;
  opacity: 0.8; }

.textLegend {
  color: white;
  font-family: "Denk One", cursive;
  font-size: 0.90rem;
  letter-spacing: 0.03rem;
  cursor: pointer;
  margin: auto;
  text-transform: uppercase; }

.flexColumn {
  flex-direction: initial; }

#myBody {
  display: flex;
  min-height: 100vh; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.cadreLoader {
  display: flex;
  height: 100vh; }

.cadreL {
  margin: auto; }

.cadreL p {
  margin: auto;
  text-align: center;
  color: var(--themaDarkest);
  font-family: 'Denk One';
  opacity: 0.7;
  letter-spacing: 0.04rem; }

.myLoader {
  margin: -60% auto auto;
  border: 12px solid var(--themaLightest);
  border-top: 12px solid var(--themaDark);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite; }

.myLoader p {
  color: var(--themaDark);
  animation: none !important; }

.hexagones, .bodyParcours, .bodyCarteVisite, .bodyOuvrages, .bodyMemory, .body3d, .bodyDiapo, .bodyMentions, .bodyTechniques {
  background-position: center;
  min-height: 72vh !important;
  max-height: 100vh;
  max-width: 1040px;
  min-width: 1024px;
  width: auto;
  background-size: cover;
  margin: 12vh auto;
  background-blend-mode: lighten;
  animation: fadeIn linear 0.25s;
  border-radius: 4px;
  overflow-y: hidden; }

.hexagones {
  background-position: center;
  background-size: cover; }

.cadreIntro {
  margin: auto;
  height: 400px;
  width: 400px;
  border-radius: 4px;
  display: flex;
  flex-direction: column; }

.cadreBg {
  background-size: cover; }

.accoladeRight, .accoladeLeft {
  width: 69px;
  height: 122px;
  transition: all 1s;
  background-size: 100%;
  background-position: center;
  opacity: 0.4; }

.accoladeRight {
  background-image: url("../assets/intro-svg/accolade-right.svg");
  margin: auto auto auto 16px; }

.accoladeLeft {
  background-image: url("../assets/intro-svg/accolade-left.svg");
  margin: auto 16px auto auto; }

#sphereIcon {
  display: none;
  width: auto;
  animation: rotationSphere 16s linear infinite; }

.sideElement {
  flex-basis: 33%;
  display: flex;
  margin: auto;
  height: auto;
  align-self: center; }

.cadreMessage {
  display: flex;
  margin: auto;
  width: 100%;
  min-height: 10%; }
  .cadreMessage p {
    margin: auto;
    color: var(--themaUltraDark);
    font-size: 1rem;
    font-family: "Denk One",cursive; }

.cadreLoader {
  display: flex;
  min-height: 100vh; }

.loader {
  margin: auto;
  display: flex;
  border: 1px solid var(--themaDark);
  padding: 8px; }

.cadreImage {
  min-height: 90%;
  display: flex;
  background: #fffe; }

.panneauImage {
  display: flex;
  margin: auto; }

.panneauChoix {
  position: relative;
  background: url("../assets/intro-png/logoType.png");
  animation: backgroundTranslate 4.8s linear infinite;
  height: 400px;
  background-size: 50%;
  background-blend-mode: soft-light;
  background-color: #defe;
  display: flex; }

.radiusCircle {
  border-radius: 50%;
  transition: all 800ms ease;
  border-width: 1px;
  transform: rotateX(60deg);
  border-style: solid;
  filter: drop-shadow(1px 1px 0px var(--themaDark)); }
  .radiusCircle:hover {
    border-color: var(--themaDark); }

.bandeBoutons {
  background: red;
  border: 2px solid black;
  margin: auto;
  min-width: 800px;
  min-width: 64px;
  min-height: 64px; }

.myGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 133.33px 133.33px 133.33px;
  position: absolute;
  animation: rotationSphere 30s linear infinite;
  width: 400px; }
  .myGrid div {
    transform: scale(0.8);
    transform-origin: center;
    margin: auto;
    transition: 0.5s;
    animation: rotationSphere2 30s linear infinite !important;
    cursor: url("../assets/global/Polygon.cur"), auto; }
    .myGrid div:hover {
      transform: rotateX(0deg) scale(1.16);
      cursor: pointer; }

.case5, .case5:hover {
  display: flex;
  height: 80px;
  width: 120px;
  cursor: url("../assets/global/Polygon.cur"), auto; }

.myGrid div p {
  color: white;
  letter-spacing: 0.04rem;
  text-align: center;
  font-family: "Denk One";
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  margin: auto;
  transition: 0.5s;
  cursor: url("../assets/global/Polygon.cur"), auto; }

.allumerText {
  font-size: 1rem !important;
  text-shadow: 0px 0px 1px white; }

.case1 {
  margin: auto 8px 0 auto !important; }

.case2 {
  margin-top: 22px !important; }

.case3 {
  margin: auto auto 0 0px !important; }

.case4 {
  margin-left: 26px !important;
  animation: rotationSphere2 30s linear infinite !important; }

.case6 {
  margin-right: 26px !important; }

.case7 {
  margin: 0 0 auto auto !important; }

.case8 {
  margin-bottom: 22px !important; }

.case9 {
  margin: 0 auto auto 0 !important; }

.panneauBoutonChoix {
  color: white;
  border: 3px solid var(--themaDark);
  height: 100px;
  border-radius: 4px;
  width: 100px;
  background-color: var(--themaDark);
  padding: 4px;
  display: flex;
  margin: auto auto;
  flex-direction: column; }
  .panneauBoutonChoix button {
    margin: auto;
    font-family: 'Denk One',cursive;
    color: var(--themaUltraDark);
    padding: 4px;
    background: var(--themaMedium); }

.fadeOut {
  animation: fadeOut ease-in 2s forwards 4s; }

.myImage {
  animation: fadeInOut 10s linear; }

#connect {
  position: absolute;
  top: 0;
  right: 0; }

nav {
  display: flex;
  margin: 4px 4px 0;
  /* width: 100%; */
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 8px; }

nav ul {
  display: flex;
  width: 100%;
  margin: auto;
  height: 6vh; }

nav ul li {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  height: 100%;
  transition: 0.2s; }
  nav ul li a {
    color: white;
    margin: auto;
    text-align: center;
    transition: 1s;
    text-shadow: 0px 1px 0px white; }
    nav ul li a img {
      width: 72%;
      margin-top: 2px;
      transition: 0.8s; }

nav ul li:hover {
  animation: scaleBouton 0.1s ease-in; }

@keyframes scaleBouton {
  from {
    transform: scale(0.92); }
  to {
    transform: scale(1); } }
.bodyParcours {
  animation: fadeIn linear 0.5s;
  flex-direction: column; }
  .bodyParcours nav, .bodyParcours .cadreConteneur .divContenu, .bodyParcours .bandeBouton {
    border: unset; }

.bodyParcours .cadreConteneur .cadreContent {
  background-color: var(--themaMedium);
  background-blend-mode: hard-light; }

.bodyParcours .divContenu {
  margin-top: unset; }

.bgBobines {
  background: url("../assets/global/bobines-background.png");
  animation: backgroundTranslate2 10s linear infinite;
  background-position: center;
  margin: auto;
  height: 512px;
  overflow: hidden;
  width: 100%; }

@keyframes backgroundTranslate2 {
  from {
    background-position: 0% 102%; }
  to {
    background-position: 100% 0%; } }
.pageGauche, .pageDroite {
  border: 1px solid #444;
  flex-basis: 50%;
  border-bottom: 1px solid #444;
  display: flex;
  flex-direction: column; }

.zoneLegend {
  width: 80%; }

.pageGauche, .pageDroite {
  background-image: url("../assets/intro-png/page-texture.jpg");
  background-position: center;
  background-size: cover;
  transition: 1s; }

.pageGauche:hover, .pageDroite:hover {
  filter: sepia(0.4); }

.pageDroite {
  border-top-left-radius: 50%  4%;
  border-top-right-radius: 3%  50%;
  border-bottom-right-radius: 0.5%  49%; }

.pageGauche {
  border-top-right-radius: 50%  4%;
  border-top-left-radius: 3%  50%;
  border-bottom-left-radius: 0.5%  49%; }

.legend, .zoneTitre, .zoneNumero, .zoneNumeroGauche {
  text-align: justify;
  font-family: "Lato",serif;
  font-size: 1rem;
  color: #444 !important; }

.zoneTitre {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  justify-content: center;
  margin: 2vh 0 auto;
  font-family: 'Suravaram';
  opacity: 0.40; }

.pageDroite {
  margin: 4% 16% 4% 0;
  box-shadow: 2px 0px 1px #444a inset, 4px 0px 0px 1px inset #4442, 8px 0px 1px 2px inset #4442, 0px 2px 0px 0px #444,0px 4px 1px 0px #444;
  filter: brightness(101%); }

.pageGauche {
  margin: 4% 0% 4% 16%;
  box-shadow: -2px 0px 1px #444a inset, -4px 0px 0px 4px inset #4442, -12px 0px 1px 2px inset #4442, 0px 2px 0px 0px #444,0px 4px 1px 0px #444; }

.zoneContent, .zoneLegend {
  margin: auto; }

.zoneContent img {
  width: 50%;
  display: flex;
  margin: auto;
  filter: opacity(0.4); }

.bandeBouton {
  width: 100%;
  box-sizing: border-box;
  margin: 8px auto auto;
  display: flex;
  justify-content: center; }

.zoneBouton {
  height: 4vh;
  width: 100%;
  flex-basis: 10%;
  text-align: center;
  display: flex; }

.boutonCentre, .boutonCarteVisite {
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.72; }

.boutonCentre {
  background-image: url("../assets/intro-svg/ornement-1.svg");
  transition: all 0.5s; }
  .boutonCentre:hover {
    background-image: url("../assets/intro-svg/ornement-1-hover.svg"); }

.zoneNumero {
  width: auto;
  display: flex;
  justify-content: flex-end;
  padding-inline-end: 0.25rem; }

.zoneNumeroGauche {
  width: auto;
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 0.25rem; }

.boutonNext, .boutonPrev {
  border: unset;
  background: unset;
  background-size: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  transition: 0.5s; }

.boutonNext[disabled], .boutonPrev[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  filter: hue-rotate(160deg); }

.boutonNext {
  background-image: url("../assets/intro-svg/icon-next.svg"); }

.boutonNext:hover {
  background-image: url("../assets/intro-svg/icon-next-hover.svg"); }

.boutonPrev {
  background-image: url("../assets/intro-svg/icon-prev.svg"); }

.boutonPrev:hover {
  background-image: url("../assets/intro-svg/icon-prev-hover.svg"); }

.bodyCarteVisite {
  flex-direction: column; }
  .bodyCarteVisite nav, .bodyCarteVisite .divContenu {
    background: linear-gradient(to right, #a26fbf, #b27fcf, #c28fdf, #b27fcf, #a26fbf); }

.bodyCarteVisite nav {
  border: unset; }

.bodyCarteVisite .cadreConteneur .cadreContent {
  background-color: var(--themaMedium); }

.flexColumn2 {
  flex-direction: column; }

.boutonCarteVisite {
  background-image: url("../assets/intro-svg/ornement-carte-visite.svg");
  transition: all 0.5s; }
  .boutonCarteVisite:hover {
    background-image: url("../assets/intro-svg/ornement-carte-visite-hover.svg"); }

.myTitle {
  justify-content: center;
  display: flex;
  height: 6vh; }
  .myTitle h2 {
    color: var(--themaTransp);
    font-family: 'Denk One',sans-serif;
    font-size: 1.16rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    display: flex;
    margin: auto; }

.myContent {
  display: contents; }

@keyframes croissance {
  from {
    flex-basis: 0%;
    width: 0; } }
.cadreEmplacement {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  flex: auto;
  grid-template-rows: 50%; }
  .cadreEmplacement div {
    margin: auto;
    display: flex;
    width: 60%; }
    .cadreEmplacement div img {
      transform: scale(0.48);
      filter: saturate(0.64); }

.divLevel {
  filter: drop-shadow(var(--themaUltraDark) 1px 1px 0px); }

.textLevel {
  height: auto;
  color: white;
  text-align: left;
  transition: 1s all;
  animation: croissance 1s linear forwards;
  margin: auto 0 !important;
  font-family: 'Denk One',cursive;
  padding: 6px;
  font-size: 1rem; }

.divLevel {
  border: 2px solid var(--themaUltraDark);
  border-radius: 4px;
  margin: auto 2px !important;
  padding: 4px;
  background-color: var(--themaLightest); }

.legendContent {
  margin: auto;
  font-family: 'Lato',sans-serif;
  font-size: 0.98rem;
  letter-spacing: 0.064rem;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  text-align: center; }

.bodyOuvrages {
  flex-direction: column; }
  .bodyOuvrages nav, .bodyOuvrages .cadreConteneur .divContenu {
    background-color: var(--themaDark); }

.bodyOuvrages .cadreConteneur .cadreContent {
  background-color: var(--themaMedium);
  background-blend-mode: hard-light;
  flex: unset;
  flex-direction: column; }

.bodyOuvrages .cadreConteneur {
  margin: 0 4px;
  flex: 0; }

.bodyOuvrages .cadreConteneur .cadreContent .divStat {
  padding: 1.2rem; }

.divStat a {
  color: var(--themaLightest);
  font-family: "Lato",sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.02rem; }
  .divStat a:hover {
    color: white;
    text-shadow: 0px 0px 1px white, 0px 0px 4px white; }

.listOuvrage, .journal {
  border: 0px solid blue;
  margin: 0 auto;
  display: flex; }

.contentOuvrage {
  margin: 0;
  border: 0px solid #f6f9ff;
  flex-wrap: wrap;
  display: flex; }

.carre {
  height: 160px;
  width: 258px;
  display: flex; }

.pCarre {
  height: 120px;
  width: 120px;
  margin: auto;
  border-radius: 8px;
  transition: 4s;
  display: flex;
  font-family: "Lato",sans-serif;
  justify-content: center;
  align-items: center; }
  .pCarre p, .pCarre a {
    display: flex;
    text-align: center; }
    .pCarre p:hover, .pCarre a:hover {
      color: black; }

.journal {
  height: 352px;
  width: 100%;
  display: flex; }

.contentJournal {
  width: 85%;
  height: 280px;
  background-color: #f6f9ff;
  margin: auto;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: column; }

.section-php > p:first-child {
  font-style: italic;
  color: red; }

table,
td {
  border-spacing: 1px;
  padding: 4px; }

.specialLink {
  cursor: pointer; }

#elem0, #elem1, #elem2, #elem3 {
  width: 60px;
  height: 60px;
  transition: 0.5s;
  opacity: 0.58; }
  #elem0:hover, #elem1:hover, #elem2:hover, #elem3:hover {
    opacity: 1; }

#elem0 {
  background-image: url("../assets/intro-svg/click-cv.svg"); }
  #elem0:hover {
    background-image: url("../assets/intro-svg/click-cv-hover.svg"); }

#elem1 {
  background-image: url("../assets/intro-svg/click-email.svg"); }
  #elem1:hover {
    background-image: url("../assets/intro-svg/click-email-hover.svg"); }

#elem2 {
  background-image: url("../assets/intro-svg/click-telephone.svg"); }
  #elem2:hover {
    background-image: url("../assets/intro-svg/click-telephone-hover.svg"); }

#elem3 {
  background-image: url("../assets/intro-svg/click-linkedin.svg"); }
  #elem3:hover {
    background-image: url("../assets/intro-svg/click-linkedin-hover.svg"); }

.bullesContact {
  position: absolute;
  margin-top: 168px;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  border: 2px solid #F6F9FF;
  width: 118px;
  height: 36px;
  background-color: #F6F9FF;
  font-size: 0.84rem;
  text-align: center;
  font-family: "Denk One",cursive;
  color: var(--themaDark);
  border-radius: 4px;
  opacity: 0.72; }

.headJournal h4 {
  font-family: "Denk One";
  text-transform: uppercase;
  color: var(--themaTransp);
  font-size: 1.3rem;
  font-weight: normal;
  opacity: 0.8;
  letter-spacing: 0.06rem;
  margin-top: -4%; }

.section-php {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center; }

.section-php form {
  display: flex;
  flex-wrap: wrap; }
  .section-php form .row {
    margin: 4px 8px 2px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .section-php form .row input {
      width: auto;
      padding: 4px; }
    .section-php form .row input:first-child {
      width: 80%;
      margin-right: 4px; }
  .section-php form .row2 {
    flex-basis: 100%;
    margin: 2px 8px auto 0px;
    display: flex; }
    .section-php form .row2 textarea {
      flex-basis: 75%;
      margin: auto 4px auto auto;
      padding: 2px 4px;
      font-family: "lato",cursive; }
    .section-php form .row2 input {
      flex-basis: 25%;
      margin: 0px auto; }

.liste-commentaire {
  margin: 8px auto auto auto;
  display: flex;
  flex-direction: column;
  background-color: var(--themaMedium);
  border: unset;
  border-radius: 4px;
  width: 100%; }
  .liste-commentaire tbody {
    width: auto; }
    .liste-commentaire tbody tr {
      width: 100%;
      display: flex;
      font-family: "Lato",sans-serif;
      color: var(--themaDarkest); }

.comm {
  width: 100%;
  margin: auto;
  color: var(--themaUltraDark); }

.pseudo {
  width: 100%;
  margin: auto;
  padding: 4px;
  font-size: 0.96rem; }

.thePseudo {
  color: #4c8; }

.panneauComm {
  margin: 8px 12px;
  box-sizing: content-box;
  padding: 12px;
  background-color: var(--themaLightest); }

.contentJournal {
  overflow-y: scroll; }

.myConsole {
  display: flex;
  padding: 1rem auto;
  border-radius: 4px 4px 0px 0px; }
  .myConsole div {
    margin: auto;
    width: 86.5%;
    display: flex;
    background-color: var(--themaLightest); }
    .myConsole div p {
      width: 50%;
      justify-content: center;
      text-align: center;
      font-family: "Denk One",cursive;
      font-size: 0.9rem;
      color: var(--themaDark); }

.bodyMemory {
  flex-direction: column; }
  .bodyMemory nav, .bodyMemory .cadreConteneur .divContenu {
    background-color: var(--themaDark);
    border: unset; }

.bodyMemory .cadreConteneur .cadreContent {
  background-color: var(--themaMedium);
  background-size: cover;
  margin: auto;
  height: 512px;
  overflow: hidden;
  width: 100%; }

@keyframes backgroundTranslate3 {
  from {
    background-position: 0% 103%; }
  50% {
    background-position: 50% 50%; }
  to {
    background-position: 100% 0%; } }
.bodyMemory .divContenu {
  border-top: 2px solid var(--ceruleanAlt); }

.myGrid2 {
  width: 100%;
  border-radius: 4px;
  margin: auto 26%;
  min-height: 48vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.emplacement {
  height: 80px;
  width: 80px;
  border-radius: 6px;
  margin: auto;
  background: unset;
  display: flex;
  margin: auto;
  border: 1px solid transparent;
  transition: 0.25s all; }
  .emplacement:hover {
    border: 1px solid white;
    box-shadow: 0 0 1px 1px white,0 0 2px 2px white,0 0 3px 3px white; }

.superClasse {
  animation: superClasse 0.7s linear;
  transform: rotate3d(0, 1, 0, 0deg); }

.flipBack {
  animation: flipBack 0.7s linear;
  transform: rotate3d(0, 1, 0, 0deg); }

.fadeOut {
  animation: fadeOut 3s linear forwards;
  opacity: 0; }

.niceFadeIn {
  animation: niceFadeIn 3s linear forwards; }

.divStat {
  margin: auto;
  border: 4px solid var(--themaDark);
  border-radius: 6px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  background: var(--themaDark); }

.ensemble {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  min-height: 544px;
  max-height: 544px; }

.divStat button, .divStat p {
  margin: auto;
  padding: 12px 20px;
  font-size: 1.1rem;
  font-family: 'Denk One',sans-serif;
  color: #fff;
  font-weight: 500;
  letter-spacing: .06rem;
  flex-basis: unset;
  border-radius: unset;
  text-transform: capitalize; }

.theCV button, .theCV p, .ensemble p {
  margin: auto;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-family: 'Denk One',sans-serif;
  color: #fffb;
  font-weight: 500;
  letter-spacing: .06rem;
  flex-basis: unset;
  border-radius: unset;
  text-transform: unset; }

.ensemble p {
  display: flex;
  margin: auto; }

.body3d {
  flex-direction: column; }
  .body3d nav, .body3d .cadreConteneur .divContenu {
    background-color: var(--themaDark);
    border: unset; }

.body3d .cadreContent {
  border: unset;
  background: unset !important; }

.body3d .divContenu {
  margin-top: 8px; }

.cadre3d canvas {
  background-image: url("../assets/intro-svg/background-bubble.svg");
  background-blend-mode: hard-light; }

.body3d .cadreConteneur .cadreContent {
  display: flex;
  justify-content: center; }

.panneauGauche, .panneauDroit {
  flex-basis: 6%;
  background: lightgrey;
  display: grid; }

.cadre3d {
  flex-basis: 88%;
  display: flex;
  justify-content: center; }
  .cadre3d canvas {
    margin: auto; }

.panneauGauche, .panneauDroit {
  background-size: cover;
  background-position: center;
  background-color: var(--themaDark);
  background-blend-mode: luminosity; }

.buttonA[disabled], .buttonB[disabled], .buttonC[disabled] {
  opacity: 0;
  cursor: default !important; }

.buttonA, .buttonB, .buttonC {
  background: radial-gradient(circle, #4C57bF, #5C67CF, #7C87eF);
  box-shadow: 0px 0px 1px white inset,0px 0px 2px white inset,0px 0px 3px white inset,0px 0px 4px white inset;
  border-radius: 8px;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  font-family: "Denk One";
  cursor: pointer; }

.buttonB {
  background: radial-gradient(circle, #51b792, #61C7A2, #71d7b2);
  box-shadow: 0px 0px 1px white inset,0px 0px 2px white inset,0px 0px 3px white inset,0px 0px 4px white inset; }

.buttonC {
  background: radial-gradient(circle, #d45060, #E46070, #f47080);
  box-shadow: 0px 0px 1px white inset, 0px 0px 2px white inset, 0px 0px 3px white inset, 0px 0px 4px white inset; }

.sousPanneau {
  margin: auto;
  display: grid;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
  grid-gap: 22px;
  grid-template: none; }
  .sousPanneau button {
    height: 36px;
    width: 36px;
    background-position: center;
    background-size: cover;
    background-color: unset;
    border: unset;
    transition: 0.5s; }
    .sousPanneau button:hover {
      cursor: pointer; }

.boutonA {
  background-image: url("../assets/intro-svg/icon-paint-house.svg"); }
  .boutonA:hover {
    background-image: url("../assets/intro-svg/icon-paint-house-hover.svg"); }

.toggleToit {
  background-image: url("../assets/intro-svg/icon-roof.svg"); }
  .toggleToit:hover {
    background-image: url("../assets/intro-svg/icon-roof-hover.svg"); }

.toggleMur {
  background-image: url("../assets/intro-svg/icon-walls.svg"); }
  .toggleMur:hover {
    background-image: url("../assets/intro-svg/icon-wall-hover.svg"); }

.toggleSol {
  background-image: url("../assets/intro-svg/icon-floor.svg"); }
  .toggleSol:hover {
    background-image: url("../assets/intro-svg/icon-ground-hover.svg"); }

.toggleCloison {
  background-image: url("../assets/intro-svg/icon-cloison.svg"); }
  .toggleCloison:hover {
    background-image: url("../assets/intro-svg/icon-cloison-hover.svg"); }

.togglePorte {
  background-image: url("../assets/intro-svg/icon-door.svg"); }
  .togglePorte:hover {
    background-image: url("../assets/intro-svg/icon-door-hover.svg"); }

.toggleFenetre {
  background-image: url("../assets/intro-svg/icon-window.svg"); }
  .toggleFenetre:hover {
    background-image: url("../assets/intro-svg/icon-window-hover.svg"); }

.bodyDiapo {
  flex-direction: column; }
  .bodyDiapo nav, .bodyDiapo .cadreConteneur .divContenu {
    background-color: var(--themaDark); }

.bodyDiapo .cadreContent {
  flex-direction: column;
  background-color: var(--themaMedium); }

.bodyDiapo .cadreContent h4, .bodyDiapo .cadreContent p {
  color: var(--themaDarkest); }

.cadre {
  width: 100%;
  max-width: 100%;
  height: 360px;
  display: flex;
  margin: auto auto 0;
  justify-content: center;
  background-size: 100%;
  background-position: center 101%;
  background-repeat: no-repeat; }

.myContent .legendContent {
  color: var(--themaDarkest);
  font-family: "Denk One",cursive; }

.carte {
  display: flex;
  margin: auto;
  width: 180px;
  height: 220px;
  flex-basis: unset !important;
  background: unset;
  transition: all 0.6s !important;
  border-radius: 10px; }

.paraTitre1 {
  font-family: 'Denk One', sans-serif;
  width: auto;
  margin: auto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  color: var(--themaTransp) !important; }

.monParagraphe {
  font-family: 'Lato', sans-serif;
  margin: auto 8%;
  font-size: 0.98rem;
  text-align: center;
  letter-spacing: 0.04rem;
  height: 6vh; }

.bandeBoutonDiapo {
  justify-content: center;
  width: 100%;
  display: flex;
  min-height: 4vh;
  margin: auto;
  background-color: var(--ceruleanAlt); }
  .bandeBoutonDiapo button {
    flex-basis: auto; }

.playDiapo, .autoPlay, .boutonScrollTo {
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  background: unset;
  background-size: cover;
  border: none;
  transition: 0.5s;
  cursor: pointer; }

.boutonScrollTo {
  width: 48px;
  height: 48px; }

.playDiapo {
  background-image: url("../assets/intro-svg/icon-play-diapo.svg"); }
  .playDiapo:hover {
    background-image: url("../assets/intro-svg/icon-play-diapo-hover.svg"); }

.autoPlay {
  background-image: url("../assets/intro-svg/icon-autoplay.svg"); }
  .autoPlay:hover {
    background-image: url("../assets/intro-svg/icon-autoplay-hover.svg"); }

.buttonStop {
  background-image: url("../assets/intro-svg/buttonStop.svg"); }
  .buttonStop:hover {
    background-image: url("../assets/intro-svg/buttonStop-hover.svg"); }

.flipHor {
  animation: rotation2 ease-in 0.5s forwards; }

.fadeIn {
  animation: fadeIn ease-in 2s forwards; }

.bounceHor {
  animation: bounceHor ease-in 0.5s forwards; }

.bounce {
  animation: bounce ease-in 1s forwards; }

.flipFlop {
  animation: flipFlop ease-in 1s; }

@keyframes rotation2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes fadeIn {
  0% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
@keyframes flipFlop {
  from {
    transform: rotate(-180deg);
    /* transform: scaleY(1); */ }
  25% {
    transform: rotate(0deg); }
  50% {
    transform: scaleY(0.9); }
  75% {
    transform: scaleX(0.9); }
  to {
    transform: scaleX(1);
    /* transform: scaleY(1); */ } }
@keyframes bounce {
  from {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(0px, -16px); }
  to {
    transform: translate(0px, 0px); } }
@keyframes bounceHor {
  0% {
    transform: translate(0px, 0px); }
  25% {
    transform: translate(-12px, 0px); }
  50% {
    transform: translate(0px, 0px); }
  75% {
    transform: translate(12px, 0px); }
  100% {
    transform: translate(0px, 0px); } }
.bodyMentions {
  flex-direction: column; }
  .bodyMentions nav, .bodyMentions .cadreConteneur .divContenu {
    background-color: var(--themaDark);
    border: unset; }

.bodyMentions .cadreConteneur .cadreContent {
  background-color: var(--themaMedium); }

.scrollMention {
  overflow-y: scroll;
  max-height: 562.7px;
  scroll-behavior: smooth; }

.bandeTitre {
  display: flex;
  margin: 4rem auto; }
  .bandeTitre .titreMention {
    margin: auto; }

.maDiv h3, .titreMention {
  font-family: "Denk One",cursive;
  letter-spacing: 0.16rem;
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: #a6b7ee;
  text-underline-offset: 6px;
  color: var(--themaDarkest);
  text-transform: uppercase; }

.chapter {
  display: flex;
  justify-content: space-evenly;
  min-height: 6vh;
  align-items: center;
  list-style-type: none;
  margin: auto 10%; }
  .chapter li a {
    font-family: "Denk One",cursive;
    color: white;
    transition: 0.2s; }
    .chapter li a:hover {
      color: var(--themaDarkest); }

.boutonScrollTo {
  position: absolute;
  margin-left: 51.25%;
  margin-top: 0.2%;
  background-image: url("../assets/intro-svg/icon-arrow-top.svg"); }
  .boutonScrollTo:hover {
    background-image: url("../assets/intro-svg/icon-arrow-top-hover.svg"); }

.maDiv {
  margin: 2% 10%; }
  .maDiv h3 {
    margin: 4rem auto;
    font-size: 1.1rem;
    opacity: 1; }
  .maDiv p {
    font-family: "Lato",sans-serif;
    font-size: 0.96rem;
    letter-spacing: 0.024rem;
    color: var(--themaUltraDark);
    text-align: justify; }

.maDiv h3 + p {
  text-indent: 1.6rem; }

.bodyTechniques {
  flex-direction: column; }
  .bodyTechniques nav, .bodyTechniques .cadreConteneur .divContenu {
    background-color: var(--themaDark);
    border: unset; }

.bodyTechniques .cadreConteneur .cadreContent {
  background-color: var(--themaMedium);
  background-size: cover;
  margin: auto;
  height: 512px;
  overflow: hidden;
  width: 100%; }

.onglet {
  display: none;
  margin: 1rem;
  font-family: "Lato",sans-serif;
  color: var(--themaDarkest);
  letter-spacing: 0.02rem;
  flex-direction: column; }
  .onglet div {
    border-radius: 4px;
    background-color: var(--themaLightest);
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    padding: 0.4rem; }
  .onglet h4 {
    text-transform: uppercase;
    font-weight: normal;
    color: var(--themaTransp);
    margin: 0rem 0rem 0.5rem; }
  .onglet h5 {
    font-weight: normal;
    font-size: 0.9rem;
    font-style: italic; }
  .onglet p {
    font-size: 0.84rem;
    text-align: justify; }

#boutonHtml, #boutonCss, #boutonJs {
  height: 64px;
  width: 64px;
  border: unset;
  background: unset;
  background-position: center;
  background-size: cover;
  cursor: pointer; }

#boutonHtml {
  background-image: url("../assets/intro-svg/icone-technique-html.svg"); }

#boutonCss {
  background-image: url("../assets/intro-svg/icone-technique-css.svg"); }

#boutonJs {
  background-image: url("../assets/intro-svg/icone-technique-javascript.svg"); }

.blocTechnique {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .blocTechnique .panneauBouton {
    display: flex;
    width: 100%;
    margin: 1rem 1rem 0;
    justify-content: space-evenly;
    opacity: 0.64; }

.active {
  display: flex !important; }

.oneSection {
  background-color: var(--themaDark);
  margin: 2rem auto;
  width: 60%; }

.oneSection, .oneSection td, th {
  border: 1px solid var(--themaDarkest);
  border-spacing: 2px;
  border-collapse: separate;
  font-size: 0.84rem;
  letter-spacing: 0.038rem; }

th {
  width: 100%; }

.myBodyAdmin {
  font-family: "Lato",cursive;
  display: flex;
  flex-direction: column;
  height: 100vh; }
  .myBodyAdmin .panneau {
    max-height: 80vh;
    height: 80vh;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--themaMedium); }
    .myBodyAdmin .panneau .sousPanneau1 {
      overflow: auto;
      height: 36vh; }

.myForm1 {
  width: 80%;
  margin: 1rem auto;
  border-radius: 4px;
  padding: 4px;
  background-color: var(--themaDark);
  display: flex;
  flex-direction: column;
  min-height: 36vh; }
  .myForm1 h4 {
    margin: 0.5rem 1rem;
    letter-spacing: 0.06rem;
    font-weight: normal;
    font-family: "Denk One";
    text-transform: uppercase; }
  .myForm1 h4, .myForm1 .sectionForm label {
    color: var(--themaDarkest); }
  .myForm1 .sectionForm {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 6px;
    justify-content: center; }
    .myForm1 .sectionForm label, .myForm1 .sectionForm input, .myForm1 .sectionForm select {
      display: flex;
      margin: 0.1rem;
      font-size: 0.9rem;
      padding: 4px; }
    .myForm1 .sectionForm label {
      flex-basis: 25%; }
    .myForm1 .sectionForm input {
      flex-basis: 70%; }
    .myForm1 .sectionForm textarea {
      flex-basis: 96%;
      margin: 0.1rem;
      display: flex;
      padding: 4px; }
    .myForm1 .sectionForm #submit, .myForm1 .sectionForm select {
      display: flex;
      margin: 0.2rem 1.1rem;
      flex-basis: 25%; }
    .myForm1 .sectionForm #submit {
      flex-basis: 10%;
      justify-content: center; }
  .myForm1 .lastRow {
    justify-content: flex-start;
    margin: 0.4rem; }

.modifier, .supprimer {
  text-align: center;
  width: 10%; }
  .modifier a, .supprimer a {
    color: red; }

.profiler {
  background-color: var(--themaDark);
  width: 100%;
  margin: 0 auto 0; }
  .profiler ul {
    display: flex;
    list-style: none;
    height: 4vh; }
    .profiler ul li {
      flex-basis: auto;
      align-items: center;
      margin: auto; }

.tableTech {
  background-color: var(--themaDark); }
  .tableTech td {
    background-color: var(--themaMedium); }

.tableTech, .tableTech td {
  border-spacing: 8px;
  padding: 4px; }

.centerTd {
  text-align: center;
  align-items: center; }

.niveauTech {
  width: 8%;
  color: whitesmoke;
  font-family: "Denk One",cursive;
  font-size: 0.9rem; }

.niveauGreen {
  background-color: #47b379 !important; }

.niveauBlue {
  background-color: #4a90be !important; }

.niveauRed {
  background-color: #be4a6d !important; }

@media (orientation: landscape) and (max-width: 800px) {
  nav {
    width: 100vw;
    border-radius: unset;
    margin: 0; }

  body {
    min-width: unset;
    max-width: 100vw !important; }

  .paraTitre1 {
    margin: 0 auto; }

  nav ul {
    height: 10vh; }
    nav ul li a img {
      width: 72%;
      margin: auto; }

  .pageDroite, .pageGauche {
    margin: auto 12%;
    min-height: 64vh; }

  .divContenu {
    height: 8vh;
    border-radius: unset; }

  .pageDroite {
    margin-left: 0%; }

  .pageGauche {
    margin-right: 0%; }

  .myTitle {
    height: 4vh; }
    .myTitle h2 {
      font-size: 0.8rem; }

  .cadreEmplacement {
    grid-template-rows: 25% 25%;
    max-height: auto;
    grid-auto-columns: auto;
    max-width: 100vw;
    box-sizing: border-box; }

  .myTitle {
    height: 5vh;
    margin: auto auto 0;
    width: 100%; }

  .cadreEmplacement div .divLevel {
    width: 24%; }

  .cadre3d canvas {
    width: 100%;
    height: auto; }

  .cadreContent {
    max-width: 100vw; }

  .cadreEmplacement div {
    flex-direction: initial !important;
    margin: auto !important;
    height: 20vh !important;
    margin: auto;
    display: flex;
    width: 100%;
    margin: auto !important;
    height: auto; }

  .cadreEmplacement div div {
    display: flex;
    width: auto;
    height: 6vh !important; }
    .cadreEmplacement div div .textLevel {
      font-size: 0.64rem;
      margin: auto !important;
      height: 3.6vh !important;
      padding: 4px 4px 4px; }

  .cadreEmplacement div img {
    flex-basis: 50%;
    transform: scale(0.72); }

  .bodyMemory .cadreConteneur .cadreContent {
    height: auto; }

  .cadre {
    height: auto; }

  .hexagones, .bodyParcours, .bodyCarteVisite, .bodyOuvrages, .bodyMemory, .body3d, .bodyDiapo, .bodyMentions {
    min-height: 100vh !important;
    min-width: unset;
    max-width: 100vw;
    margin: unset;
    border-radius: unset; }

  .cadreConteneur {
    border-radius: unset;
    flex: auto;
    height: 100%;
    flex-direction: column-reverse;
    display: flex;
    margin: unset;
    width: 100vw; }

  .bodyOuvrages .cadreConteneur {
    width: 100vw;
    max-width: 100vw;
    margin: 0 !important; }

  .bodyOuvrages .cadreConteneur .cadreContent {
    height: 82vh; }

  .listOuvrage {
    width: 100%;
    display: flex;
    height: 100%; }

  .contentOuvrage {
    width: 100%; }

  .carre {
    margin: auto;
    width: 50%;
    height: auto; }
    .carre .pCarre {
      height: auto; }

  .journal {
    height: 50%;
    display: flex; }
    .journal .contentJournal {
      width: 200px;
      height: auto; }

  .bgBobines {
    animation: unset;
    height: unset; }

  .cadreContent {
    display: flex; }

  .zoneTitre, .zoneNumero, .zoneNumeroGauche {
    font-size: 0.7rem; }

  .zoneTitre {
    text-align: center;
    border-bottom: unset;
    text-decoration: underline; }

  .legend {
    font-size: 0.6rem; }

  .bandeBouton {
    margin: unset; }

  .zoneBouton {
    height: 8vh;
    width: 100%;
    flex-basis: auto;
    text-align: center;
    display: flex; }

  .legendContent {
    padding: unset; }

  .boutonNext, .boutonPrev, .boutonCentre, .boutonCarteVisite {
    background-size: 12%; }

  .paraLegend, .tousDroits {
    font-size: 0.7rem; }

  .hexagones {
    width: 100vw;
    min-width: unset; }

  .myGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    position: absolute;
    animation: rotationSphere 30s linear infinite;
    width: 300px; }

  .myGrid div img {
    transform: matrix3d(1, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.6); }

  .case3 {
    margin: auto auto 0 -16px !important; }

  .case1 {
    margin: auto -16px 0 auto !important; }

  .case7 {
    margin: 0 -16px auto auto !important; }

  .case9 {
    margin: 0 auto auto -16px !important; }

  .case2 {
    margin: auto auto 24px auto !important; }

  .case4 {
    margin: auto 24px auto auto !important; }

  .case6 {
    margin: auto auto auto 24px !important; }

  .case8 {
    margin: 24px auto auto auto !important; }

  .textLegend {
    font-size: 0.7rem; }

  #sphereIcon, .cadreIntro {
    width: 300px;
    height: 300px; }

  .radiusCircle {
    transform: rotateX(44deg); }

  .cadreEmplacement {
    max-height: 54vh !important; }

  .cadreEmplacement div {
    margin: auto;
    flex-direction: column; }

  .legendContent {
    font-size: 0.7rem; }

  .cadreEmplacement div div {
    display: flex;
    width: auto; }

  .textLevel {
    animation: unset; }

  .divContenu {
    margin-top: unset; }

  .carte {
    width: 100px;
    height: 120px; }

  .paraTitre1 {
    font-size: 1.4rem; }

  .monParagraphe {
    font-size: 0.74rem;
    margin: 1% 10%;
    height: auto; }

  .cadre {
    margin: auto;
    height: 47vh; }

  .bandeBoutonDiapo {
    margin: 0; }

  .scrollMention, .bloc {
    width: 100vw; }

  .chapter {
    flex-wrap: wrap;
    min-height: 18vh; }

  .maDiv p {
    font-size: 0.7rem; }

  .maDiv h3, .titreMention {
    font-size: 0.9rem;
    line-height: 2.4rem;
    text-underline-offset: 4px; }

  .boutonScrollTo {
    margin: unset;
    top: unset;
    width: 32px;
    height: 32px; }

  .myGrid2 {
    margin: auto 24%;
    min-height: 44vh;
    grid-gap: 8px; }

  .emplacement {
    width: 48px;
    height: 48px; }

  .bodyCarteVisite .cadreConteneur .cadreContent, .bodyParcours .cadreConteneur .cadreContent, .cadre3d canvas, .bodyMentions .cadreConteneur .cadreContent {
    background-image: url(../assets/intro-svg/background-bubble.svg);
    background-blend-mode: overlay;
    background-color: #ccfa; }

  .body3d nav {
    background: var(--themaDark); }

  .body3d .cadreConteneur .cadreContent {
    height: 88vh; }

  .body3d .cadreConteneur {
    flex: unset; }

  .body3d .cadreConteneur .divContenu {
    bottom: 0;
    position: fixed;
    width: 100vw; }

  .sousPanneau {
    display: unset;
    grid-gap: 4px; }
    .sousPanneau button {
      height: 32px;
      width: 32px;
      margin: 2px 4px; }

  .body3d .divContenu {
    margin-top: unset; } }
@media screen and (orientation: portrait) and (max-width: 640px) {
  nav {
    width: 100vw;
    border-radius: unset;
    margin: 0; }

  body {
    min-width: unset;
    max-width: 100vw !important; }

  .hexagones, .bodyParcours, .bodyCarteVisite, .bodyOuvrages, .bodyMemory, .body3d, .bodyDiapo, .bodyMentions, .bodyTechniques, .myBodyAdmin .panneau {
    min-height: 100vh !important;
    min-width: unset;
    max-width: 100vw;
    margin: unset;
    border-radius: unset; }

  .myBodyAdmin .panneau {
    min-width: 100vw; }

  .myForm1 h4 {
    margin: unset; }

  .myForm1 .sectionForm {
    padding: 0px;
    box-sizing: border-box; }

  .cadreConteneur {
    border-radius: unset;
    flex: auto;
    height: 100%;
    flex-direction: column-reverse;
    display: flex;
    margin: unset;
    width: 100vw; }

  .bgBobines {
    animation: unset;
    height: unset; }

  .cadreContent {
    display: flex; }

  .pageGauche, .pageDroite {
    margin: auto 4%;
    min-height: 44vh; }

  .pageDroite {
    margin-left: 0%; }

  .pageGauche {
    margin-right: 0%; }

  .zoneTitre, .zoneNumero, .zoneNumeroGauche {
    font-size: 0.7rem; }

  .zoneTitre {
    text-align: center;
    border-bottom: unset;
    text-decoration: underline; }

  .legend {
    font-size: 0.6rem; }

  .bandeBouton {
    margin: unset; }

  .zoneBouton {
    height: 8vh;
    width: 100%;
    flex-basis: auto;
    text-align: center;
    display: flex; }

  .paraLegend, .tousDroits {
    font-size: 0.7rem; }

  .hexagones {
    width: 100vw;
    min-width: unset; }

  .myGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    position: absolute;
    animation: rotationSphere 30s linear infinite;
    width: 300px; }

  .myGrid div img {
    transform: matrix3d(1, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.6); }

  .case3 {
    margin: auto auto 0 -16px !important; }

  .case1 {
    margin: auto -16px 0 auto !important; }

  .case7 {
    margin: 0 -16px auto auto !important; }

  .case9 {
    margin: 0 auto auto -16px !important; }

  .case2 {
    margin: auto auto 24px auto !important; }

  .case4 {
    margin: auto 24px auto auto !important; }

  .case6 {
    margin: auto auto auto 24px !important; }

  .case8 {
    margin: 24px auto auto auto !important; }

  .textLegend {
    font-size: 0.7rem; }

  #sphereIcon, .cadreIntro {
    width: 300px;
    height: 300px; }

  .radiusCircle {
    transform: rotateX(44deg); }

  .cadreEmplacement {
    max-height: 54vh !important; }

  .cadreEmplacement div {
    margin: auto;
    flex-direction: column; }

  .legendContent {
    font-size: 0.7rem; }

  .cadreEmplacement div div {
    transform: scale(0.8);
    display: flex;
    width: auto; }

  .textLevel {
    animation: unset; }

  .divContenu {
    margin-top: unset; }

  .carte {
    width: 100px;
    height: 120px; }

  .paraTitre1 {
    font-size: 1.4rem; }

  .monParagraphe {
    font-size: 0.74rem;
    margin: auto 10%;
    height: 0vh; }

  .cadre {
    margin: auto auto 0 auto; }

  .divContenu {
    height: 6.4vh;
    border-radius: unset; }

  .bandeBoutonDiapo {
    margin: 0; }

  .scrollMention, .bloc {
    width: 100vw; }

  .chapter {
    flex-wrap: wrap;
    min-height: 18vh; }

  .maDiv p {
    font-size: 0.7rem; }

  .maDiv h3, .titreMention {
    font-size: 0.9rem;
    line-height: 2.4rem;
    text-underline-offset: 4px; }

  .boutonScrollTo {
    margin: unset;
    top: unset;
    width: 32px;
    height: 32px; }

  .myGrid2 {
    margin: auto 10%;
    min-height: 44vh; }

  .emplacement {
    width: 64px;
    height: 64px; }

  .bodyCarteVisite .cadreConteneur .cadreContent, .bodyParcours .cadreConteneur .cadreContent, .cadre3d canvas, .bodyMentions .cadreConteneur .cadreContent {
    background-image: url(../assets/intro-svg/background-bubble.svg);
    background-blend-mode: overlay;
    background-color: var(--themaDark); }

  .body3d nav {
    background-color: var(--themaDark); }

  .body3d .cadreConteneur .cadreContent {
    flex-direction: column;
    height: 88vh; }

  .body3d .cadreConteneur {
    flex: unset; }

  .body3d .cadreConteneur .divContenu {
    bottom: 0;
    position: fixed;
    width: 100vw; }

  .cadre3d canvas {
    width: 100vw;
    height: -webkit-fill-available; }

  .sousPanneau {
    display: flex;
    grid-gap: 12px; }
    .sousPanneau button {
      height: 32px;
      width: 32px;
      margin: 2px 4px; }

  .body3d .divContenu {
    margin-top: unset; }

  .panneauGauche, .panneauDroit {
    background: var(--themaDark); }

  .bodyOuvrages {
    max-height: 100vh; }

  .bodyOuvrages .cadreConteneur {
    width: 100vw;
    max-width: 100vw;
    margin: 0 !important; }

  .bodyOuvrages .cadreConteneur .cadreContent {
    height: 88vh; }

  .listOuvrage {
    width: 100%;
    display: flex;
    height: auto; }

  .contentOuvrage {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 12vh;
    align-content: center; }

  .row2 {
    margin: unset !important;
    flex-wrap: wrap; }

  .row2 textarea {
    width: 100% !important;
    flex-basis: 100% !important;
    margin: unset !important;
    height: 12vh; }

  .row2 input {
    width: 100%;
    font-size: 0.8rem !important;
    display: flex;
    flex-basis: 100% !important;
    margin-top: 0.2rem !important;
    justify-content: center; }

  .carre {
    width: 60px;
    height: 60px; }
    .carre .pCarre {
      height: auto; }

  .journal {
    height: auto !important;
    display: flex; }
    .journal .contentJournal {
      width: 82%; }

  .headJournal h4 {
    font-size: 1.1rem;
    margin: unset; }

  .liste-commentaire {
    padding: unset !important; }

  .myConsole {
    margin: unset; }
    .myConsole div {
      background-color: #f6f9ff;
      border-radius: 0 0 8px 8px !important; }

  .section-php form .row {
    margin: 2px auto; }

  .contentJournal {
    height: auto;
    max-height: 64vh;
    border-radius: 6px 6px 0 0; }

  .onglet div h5 {
    margin: 0.5rem 0rem; }
  .onglet div p {
    font-size: 0.8rem; }

  .blocTechnique .panneauBouton {
    margin: 1rem auto; }

  #boutonHtml, #boutonCss, #boutonJs {
    width: 48px;
    height: 48px; } }

/*# sourceMappingURL=style.css.map */
