.bodyTechniques {
  flex-direction: column; }
  .bodyTechniques nav, .bodyTechniques .cadreConteneur .divContenu {
    background-color: var(--themaDark);
    border: unset; }

.bodyTechniques .cadreConteneur .cadreContent {
  background-color: var(--themaDark);
  background-size: cover;
  margin: auto;
  height: 512px;
  overflow: hidden;
  width: 100%; }

.onglet {
  display: none;
  margin: 1rem;
  font-family: "Lato",sans-serif;
  color: var(--themaDarkest);
  letter-spacing: 0.02rem;
  flex-direction: column;
  overflow-y: scroll; }
  .onglet::-webkit-scrollbar {
    visibility: hidden; }
  .onglet div {
    border-radius: 4px;
    background-color: var(--themaMedium);
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    padding: 0.4rem;
    color: var(--themaUltraDark); }
  .onglet h4 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0.25rem 0.75rem; }
  .onglet h5 {
    margin: 0.25rem 0.75rem;
    font-weight: normal;
    font-size: 0.9rem;
    font-style: italic; }
  .onglet p {
    font-size: 0.84rem;
    text-align: justify; }

#boutonHtml, #boutonCss, #boutonJs {
  height: 64px;
  width: 64px;
  border: unset;
  background: unset;
  background-position: center;
  background-size: cover;
  cursor: pointer; }

#boutonHtml {
  background-image: url("../assets/intro-svg/icone-technique-html.svg"); }

#boutonCss {
  background-image: url("../assets/intro-svg/icone-technique-css.svg"); }

#boutonJs {
  background-image: url("../assets/intro-svg/icone-technique-javascript.svg"); }

.blocTechnique {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .blocTechnique .panneauBouton {
    display: flex;
    width: 100%;
    margin: 1rem 1rem 0;
    justify-content: space-evenly;
    opacity: 0.64; }

.active {
  display: flex !important; }

.oneSection {
  background-color: var(--themaDark);
  margin: 2rem auto;
  width: 92%; }

.oneSection, .oneSection td, th {
  border: 1px solid var(--themaDarkest);
  border-spacing: 2px;
  border-collapse: separate;
  font-size: 0.84rem;
  letter-spacing: 0.038rem; }

th {
  width: 100%; }

.myBodyAdmin {
  font-family: "Lato",cursive;
  display: flex;
  flex-direction: column;
  height: 100vh; }
  .myBodyAdmin .panneau {
    max-height: 80vh;
    height: 80vh;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--themaMedium); }
    .myBodyAdmin .panneau .sousPanneau1 {
      overflow: auto;
      height: 36vh; }

.myForm1 {
  width: 80%;
  margin: 1rem auto;
  border-radius: 4px;
  padding: 4px;
  background-color: var(--themaDark);
  display: flex;
  flex-direction: column;
  min-height: 36vh; }
  .myForm1 h4 {
    margin: 0.5rem 1rem;
    letter-spacing: 0.06rem;
    font-weight: normal;
    font-family: "Denk One";
    text-transform: uppercase; }
  .myForm1 h4, .myForm1 .sectionForm label {
    color: var(--themaUltraDark); }
  .myForm1 .sectionForm {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 6px;
    justify-content: center; }
    .myForm1 .sectionForm label, .myForm1 .sectionForm input, .myForm1 .sectionForm select {
      display: flex;
      margin: 0.1rem;
      font-size: 0.9rem;
      padding: 4px; }
    .myForm1 .sectionForm label {
      flex-basis: 25%; }
    .myForm1 .sectionForm input {
      flex-basis: 70%; }
    .myForm1 .sectionForm textarea {
      flex-basis: 96%;
      margin: 0.1rem;
      display: flex;
      padding: 4px; }
    .myForm1 .sectionForm .submit, .myForm1 .sectionForm select, .myForm1 .sectionForm .retour {
      display: flex;
      margin: 0.2rem 1.1rem;
      flex-basis: 25%; }
    .myForm1 .sectionForm .submit, .myForm1 .sectionForm .retour {
      flex-basis: 10%;
      padding: 4px;
      justify-content: center; }
  .myForm1 .lastRow {
    justify-content: flex-start;
    margin: 0.4rem; }

.modifier, .supprimer {
  text-align: center;
  width: 10%; }
  .modifier a, .supprimer a {
    font-size: 1rem; }
    .modifier a:hover, .supprimer a:hover {
      color: orangered; }

.profiler {
  background-color: var(--themaDark);
  width: 100%;
  margin: 0 auto 0; }
  .profiler ul {
    display: flex;
    list-style: none;
    height: 4vh; }
    .profiler ul li {
      flex-basis: auto;
      align-items: center;
      margin: auto; }

.tableTech {
  background-color: var(--themaDark); }
  .tableTech td {
    background-color: var(--themaMedium); }

.tableTech, .tableTech td {
  border-spacing: 8px;
  padding: 4px;
  border-radius: 4px; }

.centerTd {
  text-align: center;
  align-items: center;
  height: 10px !important; }

.niveauTech {
  width: 8%;
  color: whitesmoke;
  font-family: "Denk One",cursive;
  font-size: 0.9rem;
  height: 10px !important; }

.niveauGreen {
  background-color: #47b379 !important; }

.niveauBlue {
  background-color: #4a90be !important; }

.niveauRed {
  background-color: #be4a6d !important; }

.description::-webkit-scrollbar {
  visibility: hidden; }

.description {
  text-align: justify; }
  .description button {
    display: block; }

.toggleContent {
  font-size: 1.1rem;
  font-weight: bolder;
  width: 40px; }

.fullContent {
  display: none !important; }

form {
  margin-block-end: unset; }

/*# sourceMappingURL=techniques.css.map */
