.bodyCarteVisite{
    flex-direction: column;
    nav, .divContenu{
        // background:linear-gradient(to right,#657ce3,#657ce3,#758cf3,#657ce3);
        background: linear-gradient(to right, #a26fbf,#b27fcf, #c28fdf, #b27fcf, #a26fbf);
        // background-color:#c3fff7;
        // background:linear-gradient(to right,#1ba79b,#2bb7ab,#2bb7ab,#3bc7bb,#4bd7cb,#4bd7cb,#3bc7bb,#2bb7ab);
        // background:linear-gradient(to right,#1b92a7,#1b92a7,#2ba2b7,#2ba2b7,#3bb2c7,#4bc2d7,#3bb2c7,#2ba2b7);
        // background:linear-gradient(to right,#5872b0,#6882c0,#6882c0,#6882c0,#6882c0,#5872b0,#5872b0,#5872b0);
        // background: radial-gradient(circle at 50%,#758cf3,#657ce3, #556cd3, #455cc3, #455cc3, #354cb3);
        // background:linear-gradient(to left,#abc3ff96,#abc3ff86,#abc3ff76,#abc3ff66,#abc3ff46,#abc3ff56,#abc3ff76);
    }
}

.bodyCarteVisite nav{
    border:unset;
}

.bodyCarteVisite .cadreConteneur .cadreContent{
    background-image:url('../assets/intro-svg/background-bubble.svg');
    background-blend-mode: hard-light;
}


.flexColumn2{
    flex-direction: column;
    // background-color: var(--ceruleanAltLight);
}

.boutonCarteVisite{
    background-image: url('../assets/intro-svg/ornement-carte-visite.svg');
    transition: all 0.5s;
    &:hover{
        background-image: url('../assets/intro-svg/ornement-carte-visite-hover.svg');
    }
}

.myTitle{
    justify-content: center;

    display: flex;
    height: 6vh;
    h2{
        color: white;
        font-family: 'Yusei Magic';
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.16rem;
        display: flex;
        margin: auto;
    }
}

.myContent{
    display: contents;
}



@keyframes croissance{
    from{
        flex-basis: 0%;
        width:0;
    }
    100%{
        // flex-basis: auto;
    }
}

.cadreEmplacement{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    flex: auto;
    grid-template-rows: 50%;
    div{
        margin:auto;
        display: flex;
        width: 60%;
        img{
            // width:64%;
            transform: scale(0.5);
            filter: opacity(0.8);
        }
    }
}

.divLevel{
    filter: drop-shadow(#0007 0px 1px 0px);
}

.textLevel{
    height: auto;
    color:white;
    text-align: left;
    transition: 1s all;
    animation: croissance 1s linear forwards;
    margin:auto 0!important;
    font-family:'Denk One',cursive;
    padding:6px;
    font-size:1rem;
}

.divLevel{
    border:2px solid var(--ceruleanAlt);
    border-radius:4px;
    margin:auto 2px!important;
    padding:4px;
    background-color: #eef3ff;
}

.legendContent{
    color: #333a;
    opacity: 0.8;
    margin:auto;
    font-family: 'Yusei Magic';
    font-size: 1rem;
    letter-spacing: 0.02rem;
    padding:16px;
    // text-shadow: 0px 1px 0px #333a;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}