.bodyMentions{
    flex-direction: column;
    nav, .cadreConteneur .divContenu{
        background-color:var(--themaDark);
        border:unset;
    }
}

.bodyMentions .cadreConteneur .cadreContent{
    background-color:var(--themaMedium);
}

.scrollMention{
    overflow-y: scroll;
    max-height: 562.7px;
    scroll-behavior: smooth;
}

.bandeTitre{
    display: flex;
    margin: 4rem auto;
    .titreMention{
        margin:auto;
    }
}

.maDiv h3, .titreMention{
    font-family: "Denk One",cursive;
    letter-spacing: 0.16rem;
    text-decoration: underline;
    text-decoration-thickness: 8px;
    text-decoration-color: var(--themaDark);
    text-underline-offset: 8px;
    color: var(--themaDarkest);
    text-transform: uppercase;
}

.chapter{
    display:flex;
    justify-content: space-evenly;
    min-height: 6vh;
    align-items: center;
    list-style-type: none;
    margin:auto 10%;

    li a{
        font-family: "Denk One",cursive;
        // color:white;
        color:white;
        transition: 0.2s;
        &:hover{
            color:var(--themaDarkest);
        }
    }
}

.boutonScrollTo{
    position: absolute;
    margin-left:51.25%;
    margin-top:0.2%;
    background-image:url('../assets/intro-svg/icon-arrow-top.svg');
    &:hover{
        background-image:url('../assets/intro-svg/icon-arrow-top-hover.svg');
    }
}

.maDiv{
    margin:2% 10%;

    h3{
        margin:4rem auto;
        font-size:1.1rem;
        opacity: 1;
    }
    p{
        font-family: "Lato",sans-serif;
        font-size:0.96rem;
        letter-spacing: 0.024rem;
        color:var(--themaUltraDark);
        text-align: justify;
    }
}

.maDiv h3 + p{
    // color:red;
    text-indent:1.6rem;
}