.bodyOuvrages{
    flex-direction: column;
    nav, .cadreConteneur .divContenu{
        background-color:var(--themaDark);
    }
}


.bodyOuvrages .cadreConteneur .cadreContent{
    background-color: var(--themaMedium);
    background-blend-mode: hard-light;
}

.bodyOuvrages .cadreConteneur .cadreContent .divStat{
    padding:1.2rem;
}

.divStat a{
    color:var(--themaLightest);
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    &:hover{
        color:white;
        text-shadow: 0px 0px 1px white, 0px 0px 4px white;
    }
}