.bodyOuvrages{
    flex-direction: column;
    nav, .cadreConteneur .divContenu{
        background-color:var(--themaDark);
    }
}


.bodyOuvrages .cadreConteneur .cadreContent{
    background-color: var(--themaMedium);
    background-blend-mode: hard-light;
    // height: 516px;
    flex:unset;
    flex-direction: column;
}

.bodyOuvrages .cadreConteneur{
    margin: 0 4px;
    flex:0;
}

.bodyOuvrages .cadreConteneur .cadreContent .divStat{
    padding:1.2rem;
}

.divStat a{
    color:var(--themaLightest);
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    &:hover{
        color:white;
        text-shadow: 0px 0px 1px white, 0px 0px 4px white;
    }
}

.listOuvrage, .journal{
    border: 0px solid blue;
    // flex-basis: 100%;
    margin: 0 auto;
    display: flex;
}

.contentOuvrage{
    margin: 0;
    border: 0px solid #f6f9ff;
    // height: 516px;
    // width: 516px;
    flex-wrap: wrap;
    display: flex;

}

.carre{
    height:160px;
    width:258px;
    display: flex;
    // background:whitesmoke;
}

.pCarre{
    height: 120px;
    width:120px;
    margin: auto;
    // border:6px solid #fff8;
    border-radius:8px;
    transition: 4s;
    display: flex;
    font-family: "Lato",sans-serif;
    justify-content: center;
    align-items: center;
    p,a{
        display: flex;
        text-align: center;
        &:hover{
            color:black;
        }
    }
    // background:whitesmoke;
}

.journal{
    height:352px;
    width: 100%;
    display: flex;
}

.contentJournal{
    width: 85%;
    height:280px;
    background-color: #f6f9ff;
    margin: auto;
    border-radius:6px;
    padding:8px;
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
}

.section-php > p:first-child{
    font-style: italic;
    color:red;
}

.section-php input{
    // margin: 0.16rem auto;
}


table,
td {
    // border: 1px solid #333;
    border-spacing: 1px;
    padding:4px;    
}

.specialLink{
    cursor: pointer;
}



#elem0, #elem1, #elem2, #elem3{
    width:60px;
    height:60px;
    transition:0.5s;
    opacity: 0.58;
    &:hover{
        opacity: 1;
    }
}



#elem0{
    background-image: url('../assets/intro-svg/click-cv.svg');
    &:hover{
        background-image: url('../assets/intro-svg/click-cv-hover.svg');
    }
}

#elem1{
    background-image: url('../assets/intro-svg/click-email.svg');
    &:hover{
        background-image: url('../assets/intro-svg/click-email-hover.svg');
    }
}

#elem2{
    background-image: url('../assets/intro-svg/click-telephone.svg');
    &:hover{
        background-image: url('../assets/intro-svg/click-telephone-hover.svg');
    }
}

#elem3{
    background-image: url('../assets/intro-svg/click-linkedin.svg');
    &:hover{
        background-image: url('../assets/intro-svg/click-linkedin-hover.svg');
    }
}

.bullesContact{
    position: absolute;
    margin-top: 168px;
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    border:2px solid #F6F9FF;
    width: 118px;
    height: 36px;
    background-color:#F6F9FF;
    font-size:0.84rem;
    text-align: center;
    font-family: "Denk One",cursive;
    // color:var(--themaTransp);
    color:var(--themaDark);
    border-radius: 4px;
    opacity: 0.72;
}

.headJournal h4{
    font-family: "Denk One";
    text-transform: uppercase;
    color:var(--themaTransp);
    font-size:1.3rem;
    font-weight: normal;
    opacity: 0.8;
    letter-spacing: 0.06rem;
    margin-top:-4%;
    // font-style:italic;
}

.section-php{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.section-php form{
    display: flex;
    flex-wrap: wrap;
    .row{
        margin:4px 8px 2px 0px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        input{
            width: auto;
            padding:4px;
        }
        input:first-child{
            width: 80%;
            margin-right:4px;
        }
    }
    .row2{
        flex-basis: 100%;
        margin: 2px 8px auto 0px;
        display: flex;
        textarea{
            flex-basis: 75%;
            margin:auto 4px auto auto;
            padding:2px 4px;
            font-family: "lato",cursive;
        }
        input{
            flex-basis: 25%;
            margin:0px auto;
        }
    }
}

.liste-commentaire{
    // overflow-y: scroll;
    margin: 8px auto auto auto;
    display: flex;
    flex-direction: column;
    background-color: var(--themaMedium);
    border:unset;
    border-radius:4px;
    width: 100%;
    tbody{
        width: auto;
        tr{
            width: 100%;
            display: flex;
            font-family: "Lato",sans-serif;
            color:var(--themaDarkest);
        }
    }
}

.comm{
    width: 100%;
    margin:auto;
    color:var(--themaUltraDark);
}


.pseudo{
    width:100%;
    margin:auto;
    padding:4px;
    font-size:0.96rem;
    // font-style: oblique;
}

.thePseudo{
    color:#4c8;
}

.panneauComm{
    // border:1px solid red;
    margin:8px 12px;
    box-sizing: content-box;
    padding: 12px;
    background-color: var(--themaLightest);
}


.liste-commentaire tbody:first-of-type{
    // border:1px solid red;
    // margin-top:-24px;
}
.contentJournal{
    overflow-y: scroll;
}

// ::-webkit-scrollbar{
//     visibility: hidden;
// }

.myConsole{
    display: flex;
    padding: 1rem auto;
    border-radius: 4px 4px 0px 0px;
    div{
        margin: auto;
        width: 86.5%;
        display: flex;
        background-color: var(--themaLightest);
        p{
            width:50%;
            justify-content: center;
            text-align: center;
            font-family: "Denk One",cursive;
            font-size: 0.9rem;
            color: var(--themaDark);
        }
    }
}