*{
    padding:unset;
    margin:unset;
    cursor: url("../assets/global/Polygon.cur")4 8, auto;
}

body{
    // background-image:url('../assets/global/savane.jpg');
    // background-image:url('../assets/global/savane.jpg');
}

a{
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

:root{
    --themaAbsoluteDark: #4d5a83; 
    --themaUltraDark: #6B7EB7; 
    // --themaDarkest: #7C8FC7; 
    --themaDarkest: #9bb1f1; 
    // --themaDark: #9badeb; 
    --themaDark: #a8baf2; 
    // --themaDark: #a8baf2; 
    --themaMedium: #dae4ff;
    --themaLight: #E8F4FF; 
    --themaLightest: #F9FCFF; 
    --themaTransp: #7690dd84;
}

@import "fonts.scss";
@import "animations.scss";
@import "structure-dom.scss";
@import "intro.scss";
@import "navbar.scss";
@import "parcours.scss";
@import "carteVisite.scss";
@import "quelques-ouvrages.scss";
@import "memory-game.scss";
@import "section-3d.scss";
@import "about-diapo.scss";
@import "mentions-legales.scss";
@import "techniques.scss";
@import "media-queries-640.scss";

