*{
    padding:unset;
    margin:unset;
    cursor: url("../assets/global/Polygon.cur"), auto;
}

body{
    // background-image:url('../assets/global/savane.jpg');
    // background-image:url('../assets/global/savane.jpg');
}

a{
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

:root{
    --themaUltraDark: #6B7EB7; 
    --themaDarkest: #7C8FC7; 
    --themaDark: #9caee6; 
    --themaMedium: #ccd7f9; 
    --themaLight: #E8F4FF; 
    --themaLightest: #F9FCFF; 
    --themaTransp: #6B7EB796; 
}

@import "fonts.scss";
@import "animations.scss";
@import "structure-dom.scss";
@import "intro.scss";
@import "navbar.scss";
@import "parcours.scss";
@import "carteVisite.scss";
@import "quelques-ouvrages.scss";
@import "memory-game.scss";
@import "section-3d.scss";
@import "about-diapo.scss";
@import "mentions-legales.scss";
@import "media-queries-640.scss";