.bodyTechniques{
    flex-direction: column;
    nav, .cadreConteneur .divContenu{
        background-color:var(--themaDark);
        border:unset;
    }
}


.bodyTechniques .cadreConteneur .cadreContent{
    background-color:var(--themaMedium);
    background-size: cover;
    margin: auto;
    height: 512px;
    overflow: hidden;
    width: 100%;
}

.onglet{
    display:none;
    margin:1rem;
    // width:100%;
    font-family: "Lato",sans-serif;
    color:var(--themaDarkest);
    letter-spacing: 0.02rem;
    flex-direction: column;
    overflow-y: scroll;
    // &::-webkit-scrollbar{
    //     visibility: visible;
    // }
    div{
        // border:1px solid var(--themaDarkest);
        border-radius: 4px;
        // background-color: var(--themaLightest);
        background-color: var(--themaDark);
        display: flex;
        flex-direction: column;
        margin: 1rem 0rem;
        padding: 0.4rem;
        color:var(--themaUltraDark);
    }
    h4{
        text-transform: uppercase;
        font-weight: normal;
        margin:0.25rem 0.75rem;
        // text-decoration: underline;
        // text-underline-offset: 0.2rem;
    }
    h5{
        margin:0.25rem 0.75rem;
        font-weight: normal;
        font-size: 0.9rem;
        // text-transform: uppercase;
        font-style:italic;
    }
    p{
        font-size: 0.84rem;
        text-align: justify;
    }
}

#boutonHtml,#boutonCss,#boutonJs{
    height:64px;
    width:64px;
    border:unset;
    background:unset;
    background-position: center;
    background-size:cover;
    cursor: pointer;
}

#boutonHtml{
    background-image: url('../assets/intro-svg/icone-technique-html.svg');
}
#boutonCss{
    background-image: url('../assets/intro-svg/icone-technique-css.svg');
}
#boutonJs{
    background-image: url('../assets/intro-svg/icone-technique-javascript.svg');
}

.blocTechnique{
    display: flex;
    flex-direction: column;
    width: 100%;
    .panneauBouton{
        display: flex;
        width: 100%;
        margin: 1rem 1rem 0;
        justify-content: space-evenly;
        opacity: 0.64;
    }
}



.active{
    display:flex!important;
}



.oneSection{
    background-color: var(--themaDark);
    margin: 2rem auto;
    width: 92%;
}



.oneSection, .oneSection td, th{
    border: 1px solid var(--themaDarkest);
    border-spacing: 2px;
    border-collapse:separate;
    font-size: 0.84rem;
    letter-spacing: 0.038rem;
}

th{
    width:100%;
}

.myBodyAdmin{
    font-family: "Lato",cursive;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .panneau{
        max-height: 80vh;
        height: 80vh;
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        background-color: var(--themaMedium);
        .sousPanneau1{
            // overflow-y: scroll!important;
            // overflow-y: scroll;
            overflow: auto;
            height: 36vh;
        }
    }
}

.myForm1{
    width: 80%;
    margin: 1rem auto;
    border-radius: 4px;
    padding:4px;
    background-color: var(--themaDark);
    display: flex;
    flex-direction:column;
    min-height: 36vh;
    h4{
        margin:0.5rem 1rem;
        letter-spacing: 0.06rem;
        font-weight: normal;
        font-family: "Denk One";
        text-transform: uppercase;
    }
    h4,.sectionForm label{
        color: var(--themaUltraDark);
    }
    .sectionForm{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 6px;
        // flex-direction: column;
        justify-content: center;
        label,input,select{
            display: flex;
            margin:0.1rem;
            font-size: 0.9rem;
            padding:4px;
        }
        label{
            flex-basis: 25%;

        }
        input{
            flex-basis: 70%;
        }
        textarea{
            flex-basis: 96%;
            margin: 0.1rem;
            display: flex;
            padding:4px;
        }
        .submit,select, .retour{
            display: flex;
            margin:0.2rem 1.1rem;
            flex-basis: 25%;
        }
        .submit, .retour{
            flex-basis: 10%;
            padding:4px;
            justify-content: center;
        }
    }
    .lastRow{
        justify-content: flex-start;
        margin: 0.4rem;
    }
    
}

.modifier, .supprimer{
    text-align: center;
    width:10%;
    a{
        font-size:1rem;
        &:hover{
            color:orangered;
        }
    }
}

.profiler{
    background-color: var(--themaDark);
    width: 100%;
    margin:0 auto 0;
    ul{
        display: flex;
        list-style: none;
        height:4vh;
        li{
            flex-basis:auto;
            align-items: center;
            margin: auto;
        }
    }
}

.tableTech{
    background-color:var(--themaDark);
    td{
        background-color:var(--themaMedium);
    }
}

.tableTech,.tableTech td{
    border-spacing:8px;
    padding:4px;
    // border:1px solid black;
}

.centerTd{
    text-align: center;
    align-items: center;
    height: 10px!important;
}

.niveauTech{
    width: 8%;
    color:whitesmoke;
    font-family: "Denk One",cursive;
    font-size:0.9rem;
    height: 10px!important;
}

.niveauGreen{
    background-color:#47b379!important;
}

.niveauBlue{
    background-color:#4a90be!important;
}

.niveauRed{
    background-color:#be4a6d!important;
}

.description::-webkit-scrollbar{
    visibility: hidden;
}
.description{
    text-align: justify;
    button{
        display: block;
    }
}

.toggleContent{
    font-size:1.1rem;
    font-weight: bolder;
    width:40px;
}

.fullContent{
    display:none!important;
}

form{
    margin-block-end: unset;
}